{% extends "_base_vue.html" %}

{% block title %}Home{% endblock %}
{% block main %}
  <h2>Welcome!</h2>
  <p>This is the home page</p>
  <a class="btn btn-success btn-sm float-end" href="{% url 'reviews:create' %}">
    + New Review
  </a>
  <h2>Reviews</h2>
  <ul class="list-group list-group-flush mb-3">
    {% for review in review_list %}
      <div class="card border-primary m-auto mb-3 text-center"
        style="max-width: 30rem">
        <div class="card-header">{{ review.name }}</div>
        <div class="card-body text-primary">
          <h5 class="card-title">{{ review.rating }}</h5>
        </div>
        <div class="card-body text-primary">
          <h5 class="card-title">{{ review.comments }}</h5>
        </div>
        <div class="card-footer">
          <small class="text-muted">
            Created on: {{ review.created }}
            Last updated: {{ review.updated }}
          </small>
          <td>
            {% if joke.user == user %}
              <a href="{% url 'reviews:update' review.slug %}" class="btn btn-info btn-sm float-end me-2">Update</a>
              <a href="{% url 'reviews:delete' review.slug %}" class="btn btn-danger btn-sm float-end me-2">Delete</a>
            {% else %}
            <small>by {{ review.user.username }}</small>
            {% endif %}
          </td>
          
        </div>
      </div>
    {% endfor %}
  </ul>
{% endblock %}